:root {
    --background: #FBFBFB;
    --black-color: #232323;
    --white-color:#FFFFFF;
    --color-contrast: #000000 ;
    --color-icon-nocurrent: #000000b4 ;


    --footer-text-2: #FFFFFFBD;

}

.darkmode{
    --background: #232323;
    --black-color: #232323;
    --white-color:#FFFFFF;
    --color-contrast: #FFFFFF ;
    --color-icon-nocurrent: #ffffff83 ;


    --footer-text-2: #FFFFFFBD;

}