.button{
    background-color: #ffffff00;
    padding: 0.5em;
    border-radius: 0.5em;

    // font

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;


    cursor: pointer;
}